Django==4.2.7
djangorestframework==3.14.0
channels==4.0.0
channels-redis==4.1.0
celery==5.3.4
django-celery-beat==2.5.0
redis==5.0.1
psycopg2-binary==2.9.11
paho-mqtt==2.1.0
reportlab>=4.4.3
python-decouple==3.8
django-cors-headers==4.3.1
whitenoise==6.6.0
Pillow==10.4.0
pandas==2.2.3
openpyxl==3.1.2
requests==2.31.0
gunicorn==21.2.0
daphne==4.0.0
django-jazzmin==2.6.0
pyserial==3.5
pymodbus==3.5.4
dj-database-url==2.1.0
